<h2><%= t("views.items.show.info_title") %></h2>

<div>
  <p><strong><%= t("activerecord.attributes.item.name") %>:</strong> <%= item.name %></p>
  <p><strong><%= t("activerecord.attributes.item.quantity") %>:</strong> <%= display_quantity(item.quantity) %></p>
  <p><strong><%= t("activerecord.attributes.item.expiration_date") %>:</strong> <%= format_date(item.expiration_date) %></p>
  <p><strong><%= t("activerecord.attributes.item.category_id") %>:</strong> <%= item.category&.name || "未分類" %></p>
</div>

<div>
  <%= link_to t("views.common.edit"), edit_item_path(item), data: { turbo_frame: dom_id(item, :info) } %>
  <%= button_to t("views.common.delete"), item_path(item), method: :delete, data: { confirm: t("views.common.confirm_delete") } %>
</div>
