<h2>アイテム情報</h2>

<div style="margin-top: 10px;">
  <p><strong>商品名:</strong> <%= item.name %></p>
  <p><strong>在庫数:</strong> <%= display_quantity(item.quantity) %></p>
  <p><strong>賞味期限:</strong> <%= format_date(item.expiration_date) %></p>
  <p><strong>カテゴリー:</strong> <%= item.category&.name || "未分類" %></p>
</div>

<div style="margin-top: 20px;">
  <%= link_to "編集", edit_item_path(item), data: { turbo_frame: dom_id(item, :info) } %>
  <%= button_to "削除", item_path(item), method: :delete, data: { confirm: '本当に削除しますか？' } %>
</div>
