<% if local_assigns[:title] %>
  <h2><%= title %></h2>
<% end %>

<%= form_with(model: item) do |f| %>
  <div>
    <%# Item Name %>
    <div>
      <%= f.label :name, '商品名' %>
      <%= f.text_field :name, placeholder: "例: りんご" %>
    </div>

    <%# Quantity (only for new records if needed) %>
    <% if local_assigns[:show_quantity] %>
      <div>
        <%= f.label :quantity, '商品数' %>
        <%= f.number_field :quantity, placeholder: "1" %>
      </div>
    <% end %>

    <%# Expiration Date %>
    <div>
      <%= f.label :expiration_date, '賞味期限' %>
      <%= f.date_field :expiration_date %>
    </div>

    <%# Category %>
    <div>
      <%= f.label :category_id, 'カテゴリー' %>
      <%= f.collection_select :category_id, categories, :id, :name, { include_blank: 'カテゴリーを選択' } %>
    </div>
  </div>

  <%# Action Buttons %>
  <div>
    <%= f.submit submit_label %>
    <%= link_to "キャンセル", cancel_path, data: local_assigns[:cancel_data] %>
  </div>
<% end %>
