<%# Category Manager %>
<div class="category-manager-container">
  <%= render "categories/selector", categories: @categories %>
</div>

<%# Add Item Button %>
<div class="add-item-container">
  <%= link_to new_item_path, class: "btn-add-item" do %>
    <%= image_tag "icons/plus_white.svg", size: "20x20", alt: "" %>
    <span><%= t("views.items.index.add_item") %></span>
  <% end %>
</div>

<%# Inventory List %>
<% if @items.any? %>
  <div class="inventory-list-container">
    <%= render partial: "items/item", collection: @items %>
  </div>
<% else %>
  <div class="empty-inventory-container">
    <div class="empty-inventory-state">
      <%= image_tag "icons/empty_box.svg", size: "48x48", alt: "" %>
      <p class="empty-inventory-text"><%= t("views.items.index.no_items") %></p>
    </div>
  </div>
<% end %>