<div>
  <div>
    <div>
      
      <%# Header %>
      <div>
        <h1><%= t("views.items.index.title", default: t("views.common.app_name")) %></h1>
        <p><%= t("views.items.index.subtitle") %></p>
      </div>

      <%# Category Manager %>
      <div>
        <%= render "categories/selector", categories: @categories %>
      </div>

      <%# Add Item Button %>
      <div>
        <%= link_to t("views.items.index.add_item"), new_item_path %>
      </div>

      <%# Inventory List %>
      <div>
        <% if @items.any? %>
          <div>
            <%= render @items %>
          </div>
        <% else %>
          <p><%= t("views.items.index.no_items") %></p>
        <% end %>
      </div>

    </div>
  </div>
</div>
