<h1><%= t("views.items.show.title") %></h1>

<div>
  <%= turbo_frame_tag dom_id(@item, :info) do %>
    <%= render 'details', item: @item %>
  <% end %>
</div>

<div>
  <h2><%= t("views.items.show.history_title") %></h2>

  <% if @inventory_logs.any? %>
    <ul>
      <% @inventory_logs.each do |log| %>
        <li>
          <div>
            <span><strong><%= t("activerecord.attributes.item.quantity") %>:</strong> <%= log.change_amount %></span>
            <span><strong>理由:</strong> <%= log.human_reason %></span>
          </div>
          <div>
            <%= log.created_at.strftime("%Y/%m/%d %H:%M") %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p><%= t("views.items.show.no_history") %></p>
  <% end %>
</div>

<div>
  <%= link_to t("views.common.back_to_list"), items_path %>
</div>
