<%= form_with(model: category) do |f| %>
  <div>
    <%= f.label :name, t('activerecord.attributes.category.name') %>
    <%= f.text_field :name, placeholder: t('views.categories.form.placeholders.name'), autofocus: true %>
    <%= f.submit t('views.categories.form.add') %>
    <%= link_to t('views.common.cancel'), items_path %>
  </div>
<% end %>
