<%= form_with(model: category) do |f| %>
  <div>
    <%= f.label :name, "カテゴリー名" %>
    <%= f.text_field :name, placeholder: "例: 野菜", autofocus: true %>
    <%= f.submit "追加" %>
    <%= link_to "キャンセル", items_path %>
  </div>
<% end %>
